services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: growgood
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/growgood
    


  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
        - YANDEX_API_KEY=${YANDEX_API_KEY}
    

  max_bot:
    build: ./max_bot
    env_file: .env
    ports:
      - "8080:8080"
    restart: always 


