version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  backend:
    build: ./backend
    container_name: growgood_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: growgood_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      - YANDEX_API_KEY=${YANDEX_API_KEY}

  max_bot:
    build: ./max_bot
    container_name: growgood_bot
    env_file: .env
    restart: always
    environment:
      - HOST_IP=${HOST_IP:-localhost}
    ports:
      - "8080:8080"

volumes:
  postgres_data:
