services:
  db:
    image: postgres:15
    container_name: growgood_db
    restart: unless-stopped
    env_file: .env
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    

  backend:
    build: ./backend
    container_name: growgood_backend
    restart: unless-stopped
    depends_on:
      - db
    env_file: ./.env
    expose:
      - "8000"
    

  frontend:
    build: ./frontend
    container_name: growgood_frontend
    restart: unless-stopped
    env_file: .env
    expose:
      - "3000"

  bot:
    build: ./max_bot
    container_name: growgood_bot
    env_file: .env
    restart: unless-stopped
    expose:
      - "8080"

  nginx:
    image: nginx:latest
    container_name: growgood_nginx
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
      - bot
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    

volumes:
  postgres_data:

