version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  backend:
    build: ./backend
    container_name: growgood_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
    expose:
      - "8000"

  frontend:
    build: ./frontend
    container_name: growgood_frontend
    restart: always
    depends_on:
      - backend
    expose:
      - "3000"
    environment:
      - YANDEX_API_KEY=${YANDEX_API_KEY}

  max_bot:
    build: ./max_bot
    container_name: growgood_bot
    env_file: .env
    restart: always
    expose:
      - "8080"

  nginx:
    image: nginx:latest
    container_name: growgood_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/sonchasapps.conf:/etc/nginx/conf.d/sonchasapps.conf:ro
      - /etc/ssl/sonchasapps.crt:/etc/ssl/sonchasapps.crt:ro
      - /etc/ssl/certificate.key:/etc/ssl/certificate.key:ro
    depends_on:
      - frontend
      - backend
      - max_bot
